:root {
  --header-height:60px;
}

* {
  box-sizing: border-box
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: var(--header-height);
  overscroll-behavior-y: contain;
}

body > section {
  height: calc(80vh - var(--header-height));
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 99px;
  font-family: 'problems', sans-serif;
  color: #444;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #333;
}

.fun-block {
  /*position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  transition: opacity 0.15s ease-out;
  overflow: hidden;
  z-index: 10;
}

.fun-block__title {
  padding: 20px;
  cursor: pointer;
  user-select: none;
}

.fun-block__title--step-2 {
  animation: wowBounce 0.7s ease-out;
}

.fun-block__title--step-3 {
  animation: wowBounceRotate 1.7s ease-out forwards;
}

.fun-block__title--step-3-active {
  color: red;
}

.fun-block__title--step-2,
.fun-block__title--step-3 {
  pointer-events: none;
}

.fun-block:target {
  visibility: visible;
  opacity: 1;
}

.header {
  position: fixed;
  top: calc(-100% + var(--header-height));
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fbfbfb;
  box-shadow: 0 1px 4px 2px #f1f1f1;
  z-index: 50;
}

.header__secret {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.35s ease-out, opacity 0.35s ease-out;
}

.header__secret--visible {
  visibility: visible;
  opacity: 1;
}

.header__container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 10px;
}

.header__logo {
  flex-grow: 1;
}

.header nav a {
  font-size: 24px;
  font-weight: 900;
}

.header__drag {
  font-size: 12px;
  padding-left: 40px;
  cursor: grab;
  user-select: none;
}

.header__drag:active,
.header__drag:focus {
  cursor: grabbing;
}

.header__drag-angle {
  display: block;
  animation: flash 0.4s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.header__drag-angle:nth-child(2) {
  animation-delay: 0.2s;
}

.header__drag-angle:nth-child(3) {
  animation-delay: 0.4s;
}

.header--stick .header__drag {
  transform: scale(1, -1);
}

.pokeball {
  display: flex;
  flex-direction: column;
}

.pokeball svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.pokeball__body {
  transform: translateY(50px);
  z-index: 5;
}

.pokeball__body svg {
  animation: bounce 1s ease infinite;
  transform-origin: bottom;
}

.pokeball__shadow {
  flex-shrink: 0;
}

.pokeball__shadow svg {
  animation: squeeze 1s ease infinite;
  transform-origin: bottom;
}

.heroes {
  display: flex;
  background: #4b514b;
  overflow: hidden;
}

.heroes__item {
  position: relative;
  flex: 1 1 0;
  /*background: #000;*/
}

.heroes__item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(180deg, transparent 0%, transparent 4%, rgb(255 255 255 / 80%) 4%, rgb(255 255 255 / 80%) 6%, transparent 6%, transparent 100%),
                    linear-gradient(180deg, transparent 0%, transparent 8%, rgb(255 255 255 / 80%) 8%, rgb(255 255 255 / 80%) 10%, transparent 10%, transparent 100%),
                    linear-gradient(180deg, transparent 0%, transparent 14%, rgb(255 255 255 / 80%) 14%, rgb(255 255 255 / 80%) 20%, transparent 20%, transparent 100%),
                    linear-gradient(180deg, transparent 0%, transparent 22%, rgb(255 255 255 / 80%) 22%, rgb(255 255 255 / 80%) 30%, transparent 30%, transparent 100%);
  transform: translateY(-100%);
}

.heroes__item:hover svg path {
  stroke-width: 8px;
}

.heroes__item:hover:after {
  transform: translateY(100%);
  transition: all 0.35s linear;
}

.heroes--skew .heroes__item {
  transform: skew(-10deg, 10deg) scale(1.06);
}

.heroes--clip .heroes__item:nth-child(2) {
  transform: translateX(-12%);
}

.heroes--clip .heroes__item:nth-child(3) {
  transform: translateX(-24%);
}

.heroes--clip .heroes__item:nth-child(4) {
  transform: translateX(-36%);
}

.heroes--clip .heroes__item:nth-child(5) {
  transform: translateX(-48%);
}

.heroes--clip .heroes__item {
  clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
}

.heroes--clip .heroes__item {
  flex: 0 0 22.1%;
}

.heroes__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  opacity: 0.76;
  transition: all 0.15s ease-in-out;
}

.heroes__item svg,
.heroes__item-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.heroes__item:hover img {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }

  .header__drag {
    padding-left: 20px;
  }
}

@media screen and (pointer: fine) {
  .fun-block__title:hover {
    color: red;
  }
}

/* Step 2, text 'NO!' */
@keyframes wowBounce {
  0% {
    color: red;
  }

  20% {
    transform: scale(5);
    color: red;
  }

  100% {
    transform: scale(1);
    color: #444444;
  }
}

/* Step 3, text '.!.' */
@keyframes wowBounceRotate {
  0% {
    color: red;
  }

  20% {
    transform: scale(5);
    color: red;
  }

  100% {
    transform: scale(1) rotate(360deg);
    color: #444444;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@keyframes squeeze {
  0%   { transform: scale(0.9)}
  10%  { transform: scale(0.9,0.8)}
  30%  { transform: scale(0.8,0.9)}
  50%  { transform: scale(0.95,0.9)}
  57%  { transform: scale(0.9)}
  64%  { transform: scale(0.9)}
  100% { transform: scale(0.9)}
}